.cart {
    float: right;
    position: relative;
    top: 1rem;
    right: 3rem;
}

.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #4d1601;
    color: white;
    padding: 0.75rem 1rem;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
}
  
.button:hover, .button:active {
    background-color: #2c0d00;
}

.count {
    background-color: #8e2803;
    padding:0 15px;
    border-radius: 20px / 20px;
    font-size: 1rem;
    font-weight: bold;
} 